Repository viseshrp/workedon: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture, deptry, cog

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml

vulture:
  name: vulture
  entry: vulture
  language: system
  args:
  - --config
  - pyproject.toml
  pass_filenames: false

deptry:
  name: deptry
  entry: uv run deptry .
  language: python
  language_version: python3
  args:
  - --config
  - pyproject.toml
  pass_filenames: false

cog:
  name: cog
  entry: cog
  language: system
  require_serial: true
  args:
  - -r
  - README.md

Update .cruft.json
  .cruft.json
Due: none

use cli.main for tests
  tests/test_cli.py
Due: mypy, vulture, deptry

cruft
  .cruft.json
  .github/workflows/main.yml
Due: none

Update action.yml
  .github/actions/setup-python-env/action.yml
Due: none

Revert "Update action.yml"
  .github/actions/setup-python-env/action.yml
Due: none

cruft
  .cruft.json
  .github/actions/setup-python-env/action.yml
  .github/workflows/main.yml
  pyproject.toml
Due: none

Update uv.lock
  uv.lock
Due: none

use init_db in some places
  workedon/cli.py
Due: mypy, vulture, deptry

fix tests
  tests/conftest.py
  tests/test_cli.py
Due: mypy, vulture, deptry

cruft
  .cruft.json
  Makefile
Due: none

dont use hashlib for guids
  workedon/utils.py
Due: mypy, vulture, deptry

add type hints
  tests/test_cli.py
  workedon/constants.py
Due: mypy, vulture, deptry

Update test_cli.py
  tests/test_cli.py
Due: mypy, vulture, deptry

Update README.md
  README.md
Due: cog

type hints
  workedon/constants.py
Due: mypy, vulture, deptry

cruft
  .cruft.json
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
Due: none

Update cli.py
  workedon/cli.py
Due: mypy, vulture, deptry

Update conf.py
  workedon/conf.py
Due: mypy, vulture, deptry

Update models.py
  workedon/models.py
Due: mypy, vulture, deptry

Update parser.py
  workedon/parser.py
Due: mypy, vulture, deptry

Update utils.py
  workedon/utils.py
Due: mypy, vulture, deptry

import annotations for cli.py
  workedon/cli.py
Due: mypy, vulture, deptry

return now always for empty datetime input
  workedon/parser.py
  workedon/workedon.py
Due: mypy, vulture, deptry

chore(demo): update demo.gif
  demo.gif
Due: none

chore(demo): update demo.gif (#51)
  demo.gif
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: cog

Update CHANGELOG.md (#52)
  CHANGELOG.md
Due: cog

Update README (#53)
  README.md
Due: cog

chore(pre-commit): Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Update pre-commit hooks (#54)
  .pre-commit-config.yaml
Due: none

fix style
  README.md
  workedon/cli.py
  workedon/models.py
  workedon/parser.py
  workedon/workedon.py
Due: mypy, vulture, deptry, cog

bump db version
  workedon/constants.py
Due: mypy, vulture, deptry

fix merge
  README.md
  workedon/cli.py
  workedon/models.py
  workedon/workedon.py
Due: mypy, vulture, deptry, cog

use freezegun for tests
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  uv.lock
Due: mypy, vulture, deptry

add alias wo
  pyproject.toml
Due: none

Path conditions:
  mypy: any of: \.py$
  vulture: any of: \.py$
  deptry: any of: \.py$
  cog: any of: \.(md|markdown|mdown)$
