Repository viseshrp/workedon: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, debug-statements, black, flake8, bandit, pyupgrade

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

debug-statements:
  name: debug-statements
  entry: debug-statement-hook
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true
  args:
  - --line-length
  - '100'
  - --target-version
  - py37
  - workedon
  - tests

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -lll
  - -n
  - '3'
  - -r
  - -x
  - venv/*,setup.py,tests/*

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

Update .gitignore
  .gitignore
Due: none

add setuptools_scm
  pyproject.toml
  requirements/build.txt
  setup.py
  workedon/__init__.py
Due: debug-statements, black, flake8, bandit, pyupgrade

add test-deploy action
  .github/workflows/test.yml
Due: check-yaml

linting
  setup.py
Due: debug-statements, black, flake8, bandit, pyupgrade

Update test.yml
  .github/workflows/test.yml
Due: check-yaml

use versioningit
  .github/workflows/test.yml
  MANIFEST.in
  pyproject.toml
  requirements/build.txt
  setup.py
  workedon/__init__.py
  workedon/cli.py
Due: check-yaml, debug-statements, black, flake8, bandit, pyupgrade

change versioningit.format
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Revert "Update test.yml"
  .github/workflows/test.yml
Due: check-yaml

Update __init__.py
  workedon/__init__.py
Due: debug-statements, black, flake8, bandit, pyupgrade

Update setup.py
  setup.py
Due: debug-statements, black, flake8, bandit, pyupgrade

add some pre-commit actions and auto-deployment to test.pypi (#40)
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  pyproject.toml
  requirements/build.txt
  requirements/lint.txt
  setup.py
  tests/test_cli.py
  workedon/__init__.py
  workedon/cli.py
  workedon/models.py
Due: check-yaml, debug-statements, black, flake8, bandit, pyupgrade

use datetime for builds
  pyproject.toml
Due: none

keep setup requires within pyproject
  .gitignore
  setup.py
Due: debug-statements, black, flake8, bandit, pyupgrade

Revert "Merge branch 'develop' into ci/cd"
  .gitignore
  setup.py
Due: debug-statements, black, flake8, bandit, pyupgrade

use release v1 for pypi action
  .github/workflows/publish.yml
  .github/workflows/test.yml
Due: check-yaml

use date for test versions (#42)
  .github/workflows/publish.yml
  .github/workflows/test.yml
  .gitignore
  pyproject.toml
  setup.py
Due: check-yaml, debug-statements, black, flake8, bandit, pyupgrade

remove refurb
  .pre-commit-config.yaml
  requirements/lint.txt
Due: check-yaml

update flake8 config
  .flake8
  workedon/conf.py
  workedon/exceptions.py
  workedon/workedon.py
Due: debug-statements, black, flake8, bandit, pyupgrade

db models for tags
  README.md
  workedon/constants.py
  workedon/models.py
Due: debug-statements, black, flake8, bandit, pyupgrade

parser for tags
  workedon/parser.py
Due: debug-statements, black, flake8, bandit, pyupgrade

truncate in reverse
  workedon/models.py
Due: debug-statements, black, flake8, bandit, pyupgrade

hide default command
  README.md
  workedon/cli.py
  workedon/models.py
Due: debug-statements, black, flake8, bandit, pyupgrade

hide advanced options
  workedon/cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

allow saving tags and fetching by tag
  README.md
  workedon/cli.py
  workedon/parser.py
  workedon/utils.py
  workedon/workedon.py
Due: debug-statements, black, flake8, bandit, pyupgrade

remove unused import
  workedon/cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

add --list-tags
  workedon/cli.py
  workedon/models.py
  workedon/workedon.py
Due: debug-statements, black, flake8, bandit, pyupgrade

update CLI interface
  README.md
  workedon/cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

refactor
  workedon/cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

Update MANIFEST.in
  MANIFEST.in
Due: none

Update .flake8
  .flake8
Due: none

remove refurb
  .pre-commit-config.yaml
Due: check-yaml

Update lint.txt
  requirements/lint.txt
Due: none

ignore some stuff in tests
  workedon/exceptions.py
  workedon/workedon.py
Due: debug-statements, black, flake8, bandit, pyupgrade

use constant for db version
  workedon/constants.py
  workedon/models.py
Due: debug-statements, black, flake8, bandit, pyupgrade

remove unused import
  workedon/conf.py
Due: debug-statements, black, flake8, bandit, pyupgrade

refactor cli
  README.md
  workedon/cli.py
  workedon/utils.py
Due: debug-statements, black, flake8, bandit, pyupgrade

Update README.md
  README.md
Due: none

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$
  pyupgrade: any of: \.py$
