Repository viseshrp/workedon: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture, deptry, cog

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml

vulture:
  name: vulture
  entry: vulture
  language: system
  args:
  - --config
  - pyproject.toml
  pass_filenames: false

deptry:
  name: deptry
  entry: uv run deptry .
  language: python
  language_version: python3
  args:
  - --config
  - pyproject.toml
  pass_filenames: false

cog:
  name: cog
  entry: cog
  language: system
  require_serial: true
  args:
  - -r
  - README.md

cruft update
  .cruft.json
  Makefile
  scripts/fix_changelog_date.py
  scripts/tag_release.sh
Due: mypy, vulture, deptry

📄 Update changelog for v0.8.1
  CHANGELOG.md
Due: cog

cruft update
  .cruft.json
  CHANGELOG.md
Due: cog

cruft update (#70)
  .cruft.json
  CHANGELOG.md
  Makefile
  pyproject.toml
  scripts/fix_changelog_date.py
  scripts/tag_release.sh
Due: mypy, vulture, deptry, cog

cruft update
  .cruft.json
  scripts/fix_changelog_date.py
Due: mypy, vulture, deptry

Update uv.lock
  uv.lock
Due: none

unpin most deps
  pyproject.toml
  uv.lock
Due: none

cruft update (#71)
  .cruft.json
  pyproject.toml
  scripts/fix_changelog_date.py
  uv.lock
Due: mypy, vulture, deptry

cruft
  .cruft.json
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_changelog_date.py
  scripts/fix_changelog_date.py
  scripts/tag_release.sh
Due: mypy, vulture, deptry

cruft
  .cruft.json
  pyproject.toml
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

Cruft (#72)
  .cruft.json
  .pre-commit-config.yaml
  pyproject.toml
  scripts/check_changelog_date.py
  scripts/fix_changelog_date.py
  scripts/tag_release.sh
  uv.lock
Due: mypy, vulture, deptry

cruft update
  .cruft.json
  .github/actions/setup-python-env/action.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/main.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/vhs.yml
  .pre-commit-config.yaml
Due: none

cruft update (#74)
  .cruft.json
  .github/actions/setup-python-env/action.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/main.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/vhs.yml
  .pre-commit-config.yaml
Due: none

chore(demo): update demo.gif
  demo.gif
Due: none

chore(demo): update demo.gif (#75)
  demo.gif
Due: none

upgrade dateparser and others
  pyproject.toml
  uv.lock
Due: none

revert dateparser
  pyproject.toml
  uv.lock
Due: none

Revert "revert dateparser"
  pyproject.toml
  uv.lock
Due: none

drop 3.9 and add 3.14
  .github/actions/setup-python-env/action.yml
  .github/workflows/main.yml
  pyproject.toml
  tox.ini
Due: none

unpin dateparser
  pyproject.toml
  uv.lock
Due: none

upgrade code for 310
  workedon/cli.py
  workedon/conf.py
  workedon/utils.py
Due: mypy, vulture, deptry

refactor
  workedon/workedon.py
Due: mypy, vulture, deptry

update tests for curr date
  tests/test_cli.py
Due: mypy, vulture, deptry

upgrade dateparser and others (#77)
  .github/actions/setup-python-env/action.yml
  .github/workflows/main.yml
  pyproject.toml
  tests/test_cli.py
  tox.ini
  uv.lock
  workedon/cli.py
  workedon/conf.py
  workedon/utils.py
  workedon/workedon.py
Due: mypy, vulture, deptry

chore(demo): update demo.gif (#78)
  demo.gif
Due: none

chore(pre-commit): Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

chore(pre-commit): Update pre-commit hooks (#79)
  .pre-commit-config.yaml
Due: none

Update automerge.yml
  .github/workflows/automerge.yml
Due: none

chore(demo): update demo.gif (#81)
  demo.gif
Due: none

workaround a dateparser bug
  workedon/parser.py
Due: mypy, vulture, deptry

select UUID for efficient delete-subquery
  workedon/workedon.py
Due: mypy, vulture, deptry

use prefetch to get tag data
  workedon/models.py
  workedon/workedon.py
Due: mypy, vulture, deptry

add index for duration
  workedon/constants.py
  workedon/models.py
Due: mypy, vulture, deptry

Revert "use prefetch to get tag data"
  workedon/models.py
  workedon/workedon.py
Due: mypy, vulture, deptry

Path conditions:
  mypy: any of: \.py$
  vulture: any of: \.py$
  deptry: any of: \.py$
  cog: any of: \.(md|markdown|mdown)$
