Repository viseshrp/workedon: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture, deptry, cog

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml

vulture:
  name: vulture
  entry: vulture
  language: system
  args:
  - --config
  - pyproject.toml
  pass_filenames: false

deptry:
  name: deptry
  entry: uv run deptry .
  language: python
  language_version: python3
  args:
  - --config
  - pyproject.toml
  pass_filenames: false

cog:
  name: cog
  entry: cog
  language: system
  require_serial: true
  args:
  - -r
  - README.md

Update test_cli.py
  tests/test_cli.py
Due: mypy, vulture, deptry

ignore case while replacing
  workedon/parser.py
Due: mypy, vulture, deptry

cascade delete WorkTag when Work is deleted
  workedon/models.py
Due: mypy, vulture, deptry

Duration and Tagging improvements (#59)
  CHANGELOG.md
  README.md
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  uv.lock
  workedon/cli.py
  workedon/default_settings.py
  workedon/exceptions.py
  workedon/models.py
  workedon/parser.py
  workedon/workedon.py
Due: mypy, vulture, deptry, cog

chore(pre-commit): Update pre-commit hooks (#60)
  .pre-commit-config.yaml
Due: none

chore(demo): update demo.gif
  demo.gif
Due: none

chore(demo): update demo.gif (#61)
  demo.gif
Due: none

add sanity check for migrations
  workedon/models.py
Due: mypy, vulture, deptry

Update CHANGELOG.md
  CHANGELOG.md
Due: cog

make tags case insensitive
  tests/test_cli.py
  workedon/workedon.py
Due: mypy, vulture, deptry

change --db-version
  CHANGELOG.md
  workedon/cli.py
  workedon/models.py
Due: mypy, vulture, deptry, cog

suppress warnings
  workedon/cli.py
Due: mypy, vulture, deptry

add dur filter support for ==
  workedon/workedon.py
Due: mypy, vulture, deptry

add ignore warnings optout
  workedon/cli.py
Due: mypy, vulture, deptry

fixes + more tests (#62)
  CHANGELOG.md
  tests/test_cli.py
  workedon/cli.py
  workedon/models.py
  workedon/workedon.py
Due: mypy, vulture, deptry, cog

chore(demo): update demo.gif (#64)
  demo.gif
Due: none

Update README.md
  README.md
Due: cog

Update demo.tape
  demo.tape
Due: none

short options for tag and duration
  README.md
  workedon/cli.py
Due: mypy, vulture, deptry, cog

docs
  CHANGELOG.md
  README.md
Due: cog

improve CLI and update README (#65)
  CHANGELOG.md
  README.md
  demo.tape
  workedon/cli.py
Due: mypy, vulture, deptry, cog

chore(demo): update demo.gif (#66)
  demo.gif
Due: none

update demo.tape (#67)
  demo.tape
Due: none

chore(demo): update demo.gif (#68)
  demo.gif
Due: none

update changelog and readme (#69)
  CHANGELOG.md
  README.md
Due: cog

cruft update
  .cruft.json
  Makefile
  scripts/fix_changelog_date.py
  scripts/tag_release.sh
Due: mypy, vulture, deptry

cruft update
  .cruft.json
  pyproject.toml
  scripts/fix_changelog_date.py
  scripts/tag_release.sh
Due: mypy, vulture, deptry

📄 Update changelog for v0.8.1
  CHANGELOG.md
Due: cog

Path conditions:
  mypy: any of: \.py$
  vulture: any of: \.py$
  deptry: any of: \.py$
  cog: any of: \.(md|markdown|mdown)$
