Repository viseshrp/workedon: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, vulture, deptry, cog

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml

vulture:
  name: vulture
  entry: vulture
  language: system
  args:
  - --config
  - pyproject.toml
  pass_filenames: false

deptry:
  name: deptry
  entry: uv run deptry .
  language: python
  language_version: python3
  args:
  - --config
  - pyproject.toml
  pass_filenames: false

cog:
  name: cog
  entry: cog
  language: system
  require_serial: true
  args:
  - -r
  - README.md

never page output in tests
  tests/test_cli.py
Due: mypy, vulture, deptry

fix tests
  tests/test_cli.py
Due: mypy, vulture, deptry

Update test_cli.py
  tests/test_cli.py
Due: mypy, vulture, deptry

fix hints
  workedon/workedon.py
Due: mypy, vulture, deptry

Add tags (#55)
  README.md
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  uv.lock
  workedon/cli.py
  workedon/constants.py
  workedon/models.py
  workedon/parser.py
  workedon/workedon.py
Due: mypy, vulture, deptry, cog

chore(demo): update demo.gif
  demo.gif
Due: none

chore(demo): update demo.gif (#56)
  demo.gif
Due: none

turn off patch check
  codecov.yml
Due: none

turn off patch cov check (#57)
  codecov.yml
Due: none

init _date_parser
  workedon/parser.py
Due: mypy, vulture, deptry

strip out tags from work text
  workedon/parser.py
Due: mypy, vulture, deptry

refactor display
  workedon/workedon.py
Due: mypy, vulture, deptry

fix empty work after tag parse
  workedon/parser.py
Due: mypy, vulture, deptry

Improve tagging (#58)
  workedon/parser.py
  workedon/workedon.py
Due: mypy, vulture, deptry

turn on unsafe-fixes
  pyproject.toml
Due: none

refactor tests
  tests/conftest.py
  tests/test_cli.py
Due: mypy, vulture, deptry

more tessts
  tests/test_cli.py
Due: mypy, vulture, deptry

display tags in cli output
  workedon/models.py
Due: mypy, vulture, deptry

add fields uuid and created for tags
  workedon/models.py
Due: mypy, vulture, deptry

add tests
  tests/test_cli.py
Due: mypy, vulture, deptry

dont use _get_or_create_db
  workedon/cli.py
  workedon/models.py
Due: mypy, vulture, deptry

add a duration field for Work
  workedon/models.py
Due: mypy, vulture, deptry

update WorkTag creation to use tag uuid
  workedon/workedon.py
Due: mypy, vulture, deptry

update tests
  tests/test_cli.py
Due: mypy, vulture, deptry

add db migrations
  workedon/exceptions.py
  workedon/models.py
Due: mypy, vulture, deptry

downgrade dateparser
  pyproject.toml
  uv.lock
Due: none

pin some deps
  pyproject.toml
  uv.lock
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

allow saving duration
  workedon/models.py
  workedon/parser.py
  workedon/workedon.py
Due: mypy, vulture, deptry

fix lint
  workedon/parser.py
  workedon/workedon.py
Due: mypy, vulture, deptry

add filter by duration
  README.md
  workedon/cli.py
  workedon/models.py
  workedon/parser.py
  workedon/workedon.py
Due: mypy, vulture, deptry, cog

add --duration-unit
  README.md
  workedon/cli.py
  workedon/default_settings.py
Due: mypy, vulture, deptry, cog

use units in output
  workedon/models.py
  workedon/parser.py
Due: mypy, vulture, deptry

chore(pre-commit): Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

use floats for duration
  README.md
  workedon/cli.py
  workedon/models.py
  workedon/parser.py
Due: mypy, vulture, deptry, cog

add tests for tags, duration
  tests/test_cli.py
Due: mypy, vulture, deptry

add filter tests
  tests/test_cli.py
Due: mypy, vulture, deptry

Update CHANGELOG.md
  CHANGELOG.md
Due: cog

Update README.md
  README.md
Due: cog

allow multi tag search and --duration save
  workedon/cli.py
  workedon/workedon.py
Due: mypy, vulture, deptry

Path conditions:
  mypy: any of: \.py$
  vulture: any of: \.py$
  deptry: any of: \.py$
  cog: any of: \.(md|markdown|mdown)$
