Repository viseshrp/workedon: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, cog, debug-statements, black, flake8, pyupgrade, refurb, bandit

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

cog:
  name: cog
  entry: cog
  language: system
  require_serial: true
  args:
  - -r
  - README.md

debug-statements:
  name: debug-statements
  entry: debug-statement-hook
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true
  args:
  - --line-length
  - '100'
  - --target-version
  - py37
  - workedon
  - tests

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: pyupgrade
  language: system
  args:
  - --py37-plus

refurb:
  name: refurb
  description: A tool for refurbishing and modernizing Python codebases.
  entry: refurb
  language: system
  args:
  - --python-version
  - '3.7'

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -lll
  - -n
  - '3'
  - -r
  - -x
  - venv/*,setup.py,tests/*

Update exceptions.py
  workedon/exceptions.py
Due: debug-statements, black, flake8, pyupgrade, refurb, bandit

Update Makefile
  Makefile
Due: none

Update test_cli.py
  tests/test_cli.py
Due: debug-statements, black, flake8, pyupgrade, refurb, bandit

Update setup.py
  setup.py
Due: debug-statements, black, flake8, pyupgrade, refurb, bandit

Update pyproject.toml
  pyproject.toml
Due: none

Update .gitignore
  .gitignore
Due: none

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: check-yaml

update gh actions
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE.md
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/general_question.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/actions/setup-python-env/action.yml
  .github/dependabot.yml
  .github/workflows/automerge.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/create-draft-release.yml
  .github/workflows/main.yml
  .github/workflows/pre-commit-autoupdate.yml
  .github/workflows/publish.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/validate-codecov-config.yml
  .github/workflows/vhs.yml
Due: check-yaml, cog

remove req files
  requirements/build.txt
  requirements/dev.txt
  requirements/lint.txt
  requirements/test.txt
Due: none

Delete .coveragerc
  .coveragerc
Due: none

Delete .flake8
  .flake8
Due: none

Create .cruft.json
  .cruft.json
Due: none

Create .gitattributes
  .gitattributes
Due: none

Update codecov.yml
  codecov.yml
Due: check-yaml

Create codespell.txt
  codespell.txt
Due: none

Update LICENSE
  LICENSE
Due: none

Create CONTRIBUTING.md
  CONTRIBUTING.md
Due: cog

Update MANIFEST.in
  MANIFEST.in
Due: none

Create tox.ini
  tox.ini
Due: none

Create _version.py
  workedon/_version.py
Due: debug-statements, black, flake8, pyupgrade, refurb, bandit

Delete setup.py
  setup.py
Due: debug-statements, black, flake8, pyupgrade, refurb, bandit

remove zoneinfo
  workedon/models.py
  workedon/utils.py
  workedon/workedon.py
Due: debug-statements, black, flake8, pyupgrade, refurb, bandit

Create CHANGELOG.md
  CHANGELOG.md
Due: cog

Create README.md
  README.md
Due: cog

add lock file
  pyproject.toml
  uv.lock
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: cog

Update README.md
  README.md
Due: cog

Update uv.lock
  uv.lock
Due: none

fix lint
  tests/test_cli.py
  workedon/__init__.py
  workedon/cli.py
  workedon/conf.py
  workedon/models.py
  workedon/utils.py
  workedon/workedon.py
Due: debug-statements, black, flake8, pyupgrade, refurb, bandit

Update .cruft.json
  .cruft.json
Due: none

cruft
  .cruft.json
  pyproject.toml
Due: none

Create conftest.py
  tests/conftest.py
Due: debug-statements, black, flake8, pyupgrade, refurb, bandit

fix lint
  workedon/cli.py
  workedon/conf.py
  workedon/constants.py
  workedon/models.py
  workedon/utils.py
Due: debug-statements, black, flake8, pyupgrade, refurb, bandit

return None
  workedon/cli.py
  workedon/parser.py
Due: debug-statements, black, flake8, pyupgrade, refurb, bandit

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  cog: any of: \.(md|markdown|mdown)$
  debug-statements: any of: \.py$
  black: any of: \.py$
  flake8: any of: \.py$
  pyupgrade: any of: \.py$
  refurb: any of: \.py$
  bandit: any of: \.py$
