Repository viseshrp/workedon: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, ruff-check, bandit, mypy, vulture, deptry, cog

black:
  name: black
  entry: black
  language: system

ruff-check:
  name: ruff-check
  entry: ruff check
  language: system

bandit:
  name: bandit
  entry: bandit
  language: system
  args:
  - -c
  - pyproject.toml
  - -r
  - -n
  - '3'
  - --severity-level
  - high

mypy:
  name: mypy
  entry: mypy
  language: system
  args:
  - --config-file=pyproject.toml

vulture:
  name: vulture
  entry: vulture
  language: system
  args:
  - --config
  - pyproject.toml
  pass_filenames: false

deptry:
  name: deptry
  entry: uv run deptry .
  language: system
  args:
  - --config
  - pyproject.toml
  pass_filenames: false

cog:
  name: cog
  entry: cog
  language: system
  require_serial: true
  args:
  - -r
  - README.md

Update uv.lock
  uv.lock
Due: none

fix partial date test
  README.md
  tests/test_cli.py
Due: black, ruff-check, bandit, mypy, vulture, deptry, cog

add prefetch for tags
  workedon/models.py
  workedon/workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

Update README.md
  README.md
Due: cog

Update workedon.py
  workedon/workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

improve tag filter queries
  workedon/workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

delay COUNT query until later
  workedon/workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

Optimize SQL queries (#82)
  README.md
  tests/test_cli.py
  uv.lock
  workedon/constants.py
  workedon/models.py
  workedon/parser.py
  workedon/workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry, cog

add tests by Codex and Claude
  tests/test_cli.py
  tests/test_cli_branches.py
  tests/test_conf.py
  tests/test_constants.py
  tests/test_default_settings.py
  tests/test_exceptions.py
  tests/test_integration.py
  tests/test_models.py
  tests/test_models_edge_cases.py
  tests/test_parser.py
  tests/test_parser_edge_cases.py
  tests/test_utils.py
  tests/test_utils_edge_cases.py
  tests/test_version_main.py
  tests/test_workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

fix ruff warnings
  tests/test_cli_branches.py
  tests/test_conf.py
  tests/test_integration.py
  tests/test_models.py
  tests/test_models_edge_cases.py
  tests/test_parser_edge_cases.py
  tests/test_utils_edge_cases.py
  tests/test_workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

remove unnecessary guard and test
  tests/test_workedon.py
  workedon/workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

Update test_integration.py
  tests/test_integration.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

fix lint
  tests/test_models.py
  tests/test_parser.py
  tests/test_utils.py
  tests/test_version_main.py
  tests/test_workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

cleanup
  tests/test_cli.py
  tests/test_models.py
  tests/test_models_edge_cases.py
  tests/test_parser.py
  tests/test_parser_edge_cases.py
  tests/test_utils.py
  tests/test_utils_edge_cases.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

Freeze every test at a fixed date
  tests/conftest.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

fix flaky test_parse_datetime_edge_of_midnight with double freeze
  tests/test_parser.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

Update test_conf.py
  tests/test_conf.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

Replace mypy with ty (#87)
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
  workedon/cli.py
  workedon/models.py
  workedon/parser.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

chore(demo): update demo.gif
  demo.gif
Due: none

chore(demo): update demo.gif (#88)
  demo.gif
Due: none

Add comprehensive ty type checker rules configuration (#89)
  pyproject.toml
Due: none

chore(demo): update demo.gif (#91)
  demo.gif
Due: none

fix debug check
  workedon/cli.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

refactor cli tests
  tests/test_cli.py
  tests/test_cli_branches.py
  uv.lock
Due: black, ruff-check, bandit, mypy, vulture, deptry

Update test_utils.py
  tests/test_utils.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

add check constraint for empty tags
  tests/test_models.py
  workedon/models.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

normalize tags
  workedon/models.py
  workedon/workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

update tag tests
  tests/test_models.py
  tests/test_workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

Reduce redundant CLI/parser test cases
  tests/test_cli.py
  tests/test_parser.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

Revert "Reduce redundant CLI/parser test cases"
  tests/test_cli.py
  tests/test_parser.py
Due: black, ruff-check, bandit, mypy, vulture, deptry

Update lockfile to fix pip-audit
  uv.lock
Due: none

Normalize fetch tag filters and document behavior
  README.md
  tests/test_cli.py
  tests/test_workedon.py
  workedon/cli.py
  workedon/workedon.py
Due: black, ruff-check, bandit, mypy, vulture, deptry, cog

Path conditions:
  black: any of: \.py$
  ruff-check: any of: \.py$
  bandit: any of: \.py$
  mypy: any of: \.py$
  vulture: any of: \.py$
  deptry: any of: \.py$
  cog: any of: \.(md|markdown|mdown)$
