Repository viseshrp/workedon: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, debug-statements, black, flake8, bandit, pyupgrade

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: system
        types: [ yaml ]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: system
      - id: debug-statements
        name: debug-statements
        entry: debug-statement-hook
        language: system
        types: [ python ]
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        require_serial: true
        args: [ # black ignores files in .gitignore by default
          --line-length, "100",
          --target-version, "py37",
          workedon, tests
        ]
      - id: isort
        name: isort
        entry: isort
        language: system
        types_or: [ cython, pyi, python ]
        require_serial: true
        args: [
          --profile, black,
          --skip-gitignore,
          --force-sort-within-sections,
          --line-length, "100",
          --section-default, THIRDPARTY,
          --filter-files,
          --project, workedon, tests
        ]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]
        require_serial: true
      - id: codespell
        name: codespell
        entry: codespell
        language: system
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        require_serial: true
        args: [
          -lll,
          -n, "3",
          -r,
          -x, "venv/*,setup.py,tests/*"
        ]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: pyupgrade
        language: system
        types: [ python ]
        args: [ --py37-plus ]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [ text ]
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.33.0
    hooks:
      - id: markdownlint
        name: markdownlint
        entry: markdownlint
        language: system
        types: [ markdown ]
        args: [
          --fix,
        ]

change date format to match git log closely
  workedon/default_settings.py
Due: debug-statements, black, flake8, bandit, pyupgrade

fix test_db_print_path
  tests/test_cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

Update README.md
  README.md
Due: none

fix load_module deprecation
  workedon/conf.py
Due: debug-statements, black, flake8, bandit, pyupgrade

update demo gif
  demo.gif
  demo.tape
Due: none

refactor
  workedon/conf.py
  workedon/models.py
  workedon/utils.py
Due: debug-statements, black, flake8, bandit, pyupgrade

expose settings, add a conf command
  README.md
  workedon/cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

refactor
  workedon/cli.py
  workedon/conf.py
  workedon/models.py
  workedon/utils.py
Due: debug-statements, black, flake8, bandit, pyupgrade

update tests
  tests/test_cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

Revert "update tests"
  tests/test_cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

Revert "Revert "update tests""
  tests/test_cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

update make clean
  Makefile
Due: none

Change tagline
  README.md
  setup.py
  workedon/cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

cache database path
  workedon/cli.py
  workedon/models.py
Due: debug-statements, black, flake8, bandit, pyupgrade

cache conf path
  workedon/cli.py
  workedon/conf.py
Due: debug-statements, black, flake8, bandit, pyupgrade

cleanup some tests
  Makefile
  tests/test_cli.py
  workedon/cli.py
  workedon/conf.py
Due: debug-statements, black, flake8, bandit, pyupgrade

0.6.3
  CHANGELOG.md
  README.md
  workedon/__init__.py
Due: debug-statements, black, flake8, bandit, pyupgrade

dont publish on tag creation
  .github/workflows/publish.yml
  CHANGELOG.md
Due: check-yaml

Update CHANGELOG.md
  CHANGELOG.md
Due: none

CD (#33)
  .github/workflows/publish.yml
  CHANGELOG.md
Due: check-yaml

punctuate error messages
  tests/test_cli.py
  workedon/exceptions.py
Due: debug-statements, black, flake8, bandit, pyupgrade

removed the `db` and `conf` subcommands and moved their options
  CHANGELOG.md
  README.md
  tests/test_cli.py
  workedon/cli.py
Due: debug-statements, black, flake8, bandit, pyupgrade

add option and environment variable alternative for settings
  workedon/conf.py
  workedon/constants.py
Due: debug-statements, black, flake8, bandit, pyupgrade

add option and environment variable alternative for settings
  CHANGELOG.md
  README.md
  workedon/cli.py
  workedon/utils.py
Due: debug-statements, black, flake8, bandit, pyupgrade

update docs
  CHANGELOG.md
  README.md
Due: none

fix usage of date/time formatting
  CHANGELOG.md
  workedon/default_settings.py
  workedon/models.py
Due: debug-statements, black, flake8, bandit, pyupgrade

Envvars (#37)
  CHANGELOG.md
  README.md
  tests/test_cli.py
  workedon/cli.py
  workedon/conf.py
  workedon/constants.py
  workedon/default_settings.py
  workedon/exceptions.py
  workedon/models.py
  workedon/utils.py
Due: debug-statements, black, flake8, bandit, pyupgrade

add setting to specify user timezone
  CHANGELOG.md
  README.md
  tests/test_cli.py
  workedon/cli.py
  workedon/conf.py
  workedon/default_settings.py
  workedon/models.py
  workedon/parser.py
  workedon/utils.py
  workedon/workedon.py
Due: debug-statements, black, flake8, bandit, pyupgrade

add setting to specify user timezone (#38)
  CHANGELOG.md
  README.md
  tests/test_cli.py
  workedon/cli.py
  workedon/conf.py
  workedon/default_settings.py
  workedon/models.py
  workedon/parser.py
  workedon/utils.py
  workedon/workedon.py
Due: debug-statements, black, flake8, bandit, pyupgrade

0.7.0
  CHANGELOG.md
  README.md
  workedon/__init__.py
Due: debug-statements, black, flake8, bandit, pyupgrade

0.7.0 (#39)
  CHANGELOG.md
  README.md
  workedon/__init__.py
Due: debug-statements, black, flake8, bandit, pyupgrade

use cog with pre-commit
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: check-yaml

add refurb
  .pre-commit-config.yaml
  requirements/lint.txt
  tests/test_cli.py
Due: check-yaml, debug-statements, black, flake8, bandit, pyupgrade

refactor
  workedon/models.py
Due: debug-statements, black, flake8, bandit, pyupgrade

reorder precommit checks
  .pre-commit-config.yaml
Due: check-yaml

Update publish.yml
  .github/workflows/publish.yml
Due: check-yaml

Create MANIFEST.in
  MANIFEST.in
Due: none
