Repository viseshrp/workedon: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, debug-statements, black, isort, flake8, bandit

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: check-yaml
        name: check-yaml
        entry: check-yaml
        language: system
        types: [ yaml ]
      - id: check-case-conflict
        name: check-case-conflict
        entry: check-case-conflict
        language: system
      - id: debug-statements
        name: debug-statements
        entry: debug-statement-hook
        language: system
        types: [ python ]
      - id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        require_serial: true
        args: [ # black ignores files in .gitignore by default
            --line-length, "100",
            --target-version, "py37",
            workedon, tests
        ]
      - id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        require_serial: true
        args: [
            --profile, black,
            --skip-gitignore,
            --force-sort-within-sections,
            --line-length, "100",
            --section-default, THIRDPARTY,
            --filter-files,
            --project, workedon, tests
        ]
      - id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]
        require_serial: true
      - id: codespell
        name: codespell
        entry: codespell
        language: system
      - id: bandit
        name: bandit
        entry: bandit
        language: system
        types: [ python ]
        require_serial: true
        args: [
            -lll,
            -n, "3",
            -r,
            -x, "venv/*,setup.py,tests/*"
        ]

Update publish.yml
  .github/workflows/publish.yml
Due: check-yaml

Update Makefile
  Makefile
Due: none

format code
  setup.py
  tests/test_workedon.py
  workedon/cli.py
  workedon/conf.py
  workedon/exceptions.py
  workedon/models.py
  workedon/parser.py
  workedon/utils.py
  workedon/workedon.py
Due: debug-statements, black, isort, flake8, bandit

Update README.rst
  README.rst
Due: none

hashlib: set usedforsecurity
  requirements/build.txt
  workedon/utils.py
Due: debug-statements, black, isort, flake8, bandit

Update .flake8
  .flake8
Due: none

Create test.yml
  .github/workflows/test.yml
Due: check-yaml

don't include tests in package
  setup.py
Due: debug-statements, black, isort, flake8, bandit

install package in test
  .github/workflows/test.yml
Due: check-yaml

set concurrency in github actions
  .github/workflows/test.yml
Due: check-yaml

fix main test
  tests/test_workedon.py
Due: debug-statements, black, isort, flake8, bandit

use fixture for test_cli_main
  tests/test_workedon.py
Due: debug-statements, black, isort, flake8, bandit

add trailing-whitespace
  .pre-commit-config.yaml
Due: check-yaml

add pyupgrade
  .pre-commit-config.yaml
  requirements/lint.txt
Due: check-yaml

use yield from
  workedon/workedon.py
Due: debug-statements, black, isort, flake8, bandit

fix setup.py
  setup.py
Due: debug-statements, black, isort, flake8, bandit

fix doc and add ci link in setup.py
  setup.py
  tests/test_workedon.py
Due: debug-statements, black, isort, flake8, bandit

set PRE_COMMIT_COLOR
  .github/workflows/test.yml
Due: check-yaml

add coverage
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  Makefile
  codecov.yml
  requirements/dev.txt
  requirements/test.txt
Due: check-yaml

add correct branches
  .github/workflows/coverage.yml
Due: check-yaml

fix changelog link
  setup.py
Due: debug-statements, black, isort, flake8, bandit

add codecov to readme
  README.rst
Due: none

0.5.4
  CHANGELOG.rst
  workedon/__init__.py
Due: debug-statements, black, isort, flake8, bandit

remove -d for --delete, already use for past day
  workedon/cli.py
Due: debug-statements, black, isort, flake8, bandit

add -l/--text-only for text-only output
  workedon/cli.py
  workedon/models.py
  workedon/workedon.py
Due: debug-statements, black, isort, flake8, bandit

0.5.5
  CHANGELOG.rst
  workedon/__init__.py
Due: debug-statements, black, isort, flake8, bandit

remove new line
  workedon/models.py
Due: debug-statements, black, isort, flake8, bandit

Create dependabot.yml
  .github/dependabot.yml
Due: check-yaml

Update dependabot.yml
  .github/dependabot.yml
Due: check-yaml

add --since
  CHANGELOG.rst
  workedon/cli.py
  workedon/workedon.py
Due: debug-statements, black, isort, flake8, bandit

fix formatting in shell
  workedon/models.py
  workedon/workedon.py
Due: debug-statements, black, isort, flake8, bandit

0.5.6
  CHANGELOG.rst
  workedon/__init__.py
Due: debug-statements, black, isort, flake8, bandit

linting
  workedon/cli.py
  workedon/workedon.py
Due: debug-statements, black, isort, flake8, bandit

don't select fields when deleting
  workedon/workedon.py
Due: debug-statements, black, isort, flake8, bandit

0.5.7
  CHANGELOG.rst
  workedon/__init__.py
Due: debug-statements, black, isort, flake8, bandit

auto-publish when pushed to develop
  .github/workflows/publish.yml
Due: check-yaml

add initial test
  .github/workflows/coverage.yml
  .github/workflows/test.yml
  Makefile
  tests/conftest.py
  tests/test_cli.py
  tests/test_workedon.py
  workedon/utils.py
Due: check-yaml, debug-statements, black, isort, flake8, bandit
