Repository viseshrp/workedon: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, debug-statements, black, isort, flake8, bandit

check-yaml:
  name: check-yaml
  entry: check-yaml
  language: system

debug-statements:
  name: debug-statements
  entry: debug-statement-hook
  language: system

black:
  name: black
  entry: black
  language: system
  require_serial: true
  args:
  - --line-length
  - '100'
  - --target-version
  - py37
  - workedon
  - tests

isort:
  name: isort
  entry: isort
  language: system
  require_serial: true
  args:
  - --profile
  - black
  - --skip-gitignore
  - --force-sort-within-sections
  - --line-length
  - '100'
  - --section-default
  - THIRDPARTY
  - --filter-files
  - --project
  - workedon
  - tests

flake8:
  name: flake8
  entry: flake8
  language: system
  require_serial: true

bandit:
  name: bandit
  entry: bandit
  language: system
  require_serial: true
  args:
  - -lll
  - -n
  - '3'
  - -r
  - -x
  - venv/*,setup.py,tests/*

bandit: ignore hashlib line
  workedon/utils.py
Due: debug-statements, black, isort, flake8, bandit

change publish trigger
  .github/workflows/publish.yml
Due: check-yaml

0.5.8
  CHANGELOG.rst
  workedon/__init__.py
Due: debug-statements, black, isort, flake8, bandit

add empty options test
  tests/test_cli.py
Due: debug-statements, black, isort, flake8, bandit

add tests
  tests/test_cli.py
  tests/test_workedon.py
  workedon/cli.py
  workedon/workedon.py
Due: debug-statements, black, isort, flake8, bandit

redo test_save_and_fetch_reverse
  tests/test_cli.py
Due: debug-statements, black, isort, flake8, bandit

use coveragerc
  .coveragerc
  .github/workflows/coverage.yml
  Makefile
  workedon/workedon.py
Due: check-yaml, debug-statements, black, isort, flake8, bandit

Revert "redo test_save_and_fetch_reverse"
  tests/test_cli.py
Due: debug-statements, black, isort, flake8, bandit

tests for delete, at, on
  tests/test_cli.py
Due: debug-statements, black, isort, flake8, bandit

add tests for from, to, nopage, textonly
  tests/test_cli.py
Due: debug-statements, black, isort, flake8, bandit

add tests for exceptions
  tests/test_cli.py
Due: debug-statements, black, isort, flake8, bandit

Update coverage.yml
  .github/workflows/coverage.yml
Due: check-yaml

tests for --since
  tests/test_cli.py
Due: debug-statements, black, isort, flake8, bandit

make count work with all other options
  workedon/workedon.py
Due: debug-statements, black, isort, flake8, bandit

add period tests
  tests/test_cli.py
Due: debug-statements, black, isort, flake8, bandit

add tests for --yesterday, --today
  tests/test_cli.py
Due: debug-statements, black, isort, flake8, bandit

0.5.9
  CHANGELOG.rst
  workedon/__init__.py
Due: debug-statements, black, isort, flake8, bandit

add tests for empty cases
  tests/test_cli.py
  workedon/models.py
  workedon/utils.py
Due: debug-statements, black, isort, flake8, bandit

Delete test_workedon.py
  tests/test_workedon.py
Due: debug-statements, black, isort, flake8, bandit

Update Makefile
  Makefile
Due: none

add demo to README
  README.rst
  demo.gif
Due: none

add vhs demo source
  demo.tape
Due: none

add fetching by id
  tests/test_cli.py
  workedon/cli.py
  workedon/workedon.py
Due: debug-statements, black, isort, flake8, bandit

0.6.0
  CHANGELOG.rst
  workedon/__init__.py
Due: debug-statements, black, isort, flake8, bandit

Update README.rst
  README.rst
Due: none

switch to md and add linter
  .github/ISSUE_TEMPLATE.md
  .pre-commit-config.yaml
  CHANGELOG.md
  CHANGELOG.rst
  README.md
  README.rst
  setup.py
Due: check-yaml, debug-statements, black, isort, flake8, bandit

add cog to automate README help
  .github/workflows/coverage.yml
  .github/workflows/publish.yml
  .github/workflows/test.yml
  requirements/lint.txt
  tests/test_cli.py
  workedon/cli.py
Due: check-yaml, debug-statements, black, isort, flake8, bandit

fix md linting
  .github/workflows/test.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
Due: check-yaml

fix cog run
  .github/workflows/test.yml
Due: check-yaml

fix setup.py and docs
  README.md
  setup.py
Due: debug-statements, black, isort, flake8, bandit

Update README.md
  README.md
Due: none

Update cli.py
  workedon/cli.py
Due: debug-statements, black, isort, flake8, bandit

Update demo.tape
  demo.tape
Due: none

update demo
  .github/workflows/publish.yml
  demo.gif
  demo.tape
Due: check-yaml

update docs
  README.md
  setup.py
  workedon/cli.py
Due: debug-statements, black, isort, flake8, bandit

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  debug-statements: any of: \.py$
  black: any of: \.py$
  isort: any of: \.py$
  flake8: any of: \.py$
  bandit: any of: \.py$
